In [1]:
VALID_DATA = "zindi_data/ValDataset.csv"
DATA_PTH = "zindi_data/validation/prediction_cond-detr-50_THR1.000_IOU0.800_ID1740_P.csv"
THR_INF = 0.05
CLS_MAPPER = {"Trophozoite": 0, "WBC": 1, "NEG": 2}

In [2]:
import pandas as pd
import json
import os
from tqdm import tqdm

import numpy as np

In [3]:
data_pth = DATA_PTH

valid_data = pd.read_csv(VALID_DATA)

data = pd.read_csv(data_pth)
data.sample(3)

                image_id        x        y      w       h  category_id  score
15313  id_j8ri1iub1e.jpg   957.77  2343.83  84.78   96.42  Trophozoite  0.060
4594   id_147gpcegp6.jpg  3355.83  2735.43  99.99  117.47  Trophozoite  0.050
15685  id_4f9wdugdot.jpg  1172.22  2471.34  97.89  105.25  Trophozoite  0.061

In [4]:
valid_data.sample(3)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,width,height
456,id_ch6r0g46fr.jpg,Trophozoite,1.0,798,1358,951,1453,4032,3016
1393,id_xmq3awiu9f.jpg,Trophozoite,1.0,1290,1224,1394,1350,4160,3120
977,id_uhss5k1wwd.jpg,Trophozoite,1.0,2241,3662,2341,3762,4032,3016

In [5]:
valid_data = valid_data.rename(columns={
	"Image_ID": "image_id", "class": "category_id", "confidence": "score", "xmin": "x", "ymin": "y"
})

valid_data["w"] = valid_data["xmax"] - valid_data["x"]
valid_data["h"] = valid_data["ymax"] - valid_data["y"]


valid_data.sample(3)

,image_id,category_id,score,y,x,ymax,xmax,width,height,w,h
432,id_0o3fxfendl.jpg,Trophozoite,1.0,883,413,916,450,1920,1080,37,33
1698,id_6ujuefpy4m.jpg,Trophozoite,1.0,692,399,718,431,1920,1080,32,26
2168,id_ndhdv3wuvg.jpg,Trophozoite,1.0,658,991,700,1023,1920,1080,32,42

In [6]:
data["image_id"].nunique(), valid_data["image_id"].nunique()

(275, 275)

In [7]:
len(set(data["image_id"].unique()).intersection(valid_data["image_id"].unique()))

275

In [8]:
data["image_id"].value_counts().head(10)

image_id
id_dvhekvgy6v.jpg    95
id_qicgns95fp.jpg    94
id_wgijl6n37b.jpg    94
id_qa70t0m4yc.jpg    93
id_3xidcn77dw.jpg    91
id_0vaw9rsiro.jpg    91
id_15rb0dgq66.jpg    91
id_dzxgm7pfdb.jpg    90
id_bkc1sypwhe.jpg    90
id_w8xnbd5rvm.jpg    90
Name: count, dtype: int64

In [9]:
valid_data["image_id"].value_counts().head(10)

image_id
id_15rb0dgq66.jpg    70
id_zg9jc73sf7.jpg    48
id_zdg96srigj.jpg    42
id_i7nitsscaw.jpg    39
id_ndhdv3wuvg.jpg    39
id_z0i61ad0tq.jpg    38
id_ilmjjeqpcy.jpg    37
id_by6e6shi2z.jpg    36
id_q18tfhfneh.jpg    33
id_087dra2apu.jpg    33
Name: count, dtype: int64

In [10]:
data["score"].describe()

count    20773.000000
mean         0.150609
std          0.131796
min          0.032000
25%          0.066000
50%          0.103000
75%          0.176000
max          0.736000
Name: score, dtype: float64

In [11]:
data.isna().sum()

image_id       0
x              0
y              0
w              0
h              0
category_id    0
score          0
dtype: int64

In [12]:
len(valid_data[valid_data["category_id"] == "NEG"])

70

In [13]:
data.columns

Index(['image_id', 'x', 'y', 'w', 'h', 'category_id', 'score'], dtype='object')

In [14]:
valid_data.columns

Index(['image_id', 'category_id', 'score', 'y', 'x', 'ymax', 'xmax', 'width',
       'height', 'w', 'h'],
      dtype='object')

In [15]:
data.sample(5)

                image_id        x        y      w       h  category_id  score
11476  id_k50besa0sa.jpg  3148.75  2345.93  97.70  113.33  Trophozoite  0.055
16720  id_u0xldti3vu.jpg  1697.96  2151.57  66.28   74.67  Trophozoite  0.107
15018  id_5mtzjxoohq.jpg  2529.00  1912.40  67.45   82.66  Trophozoite  0.110
6465   id_49n2r2g61a.jpg  3620.08  1928.54  67.23   79.39  Trophozoite  0.174
9453   id_jiv444vkig.jpg  1038.13   385.01  70.09   85.05  Trophozoite  0.062

In [16]:
import torch

image_files: list[str] = valid_data["image_id"].unique().tolist()

def get_format_pred(file_id: str, data: pd.DataFrame, thr = THR_INF):
	pred = data[data["image_id"] == file_id].dropna(subset="x")
	pred = pred[pred["category_id"] != "NEG"]
	pred = pred[pred["score"] >= thr]
	if not len(pred):
		# return dict(
		# 	boxes=torch.empty(size=[0, 4], dtype=torch.float).cuda(),
		# 	scores=torch.empty(size=[0], dtype=torch.float).cuda(),
		# 	labels=torch.empty(size=[0,], dtype=torch.int).cuda(),
		# )
		return dict(
			boxes=torch.tensor([[0., 0., 0., 0.]], dtype=torch.float).cuda(),
			scores=torch.tensor([1.], dtype=torch.float).cuda(),
			labels=torch.tensor([CLS_MAPPER["NEG"]], dtype=torch.int).cuda(),
		)
	boxes = torch.tensor(pred[["x", "y", "w", "h"]].values, dtype=torch.float).cuda()
	scores = torch.tensor(pred["score"].values, dtype=torch.float).cuda()
	labels = torch.tensor([CLS_MAPPER[i] for  i in pred["category_id"].values], dtype=torch.int).cuda()
	return dict(boxes=boxes, scores=scores, labels=labels)


print("Prediction Extraction")
predictions = [
	get_format_pred(i, data) for i in image_files
]
print("Expected Extraction")
expected = [
	get_format_pred(i, valid_data) for i in image_files
]
# for i in expected:
# 	i.pop("scores")

Prediction Extraction
Expected Extraction

In [17]:
predictions[0]

{'boxes': tensor([[ 910.7900,  991.0100,  166.5600,  178.6400],
         [ 945.0100,  210.0700,   83.7900,   97.0900],
         [ 492.9300, 1768.1200,   81.4800,   89.0500],
         [1885.8101, 1384.0200,   85.4000,   93.7000],
         [1736.9100,  927.0000,   79.9600,   88.1100],
         [2719.1399, 1035.4100,   81.4300,   92.4200],
         [1858.9301, 1902.5000,   78.9800,   88.8100],
         [ 456.4000,  500.0200,   81.6700,   93.2000],
         [2827.1001, 1348.1899,   81.7400,   94.3100],
         [2286.0801,  920.9000,   79.9300,   89.4900],
         [3036.8999, 1299.1400,   78.1600,   92.6600],
         [1705.8800, 2489.0400,   79.6300,   88.7800],
         [1500.1300, 1147.1899,   79.1200,   89.4200],
         [ 507.3400, 1777.8400,   75.0400,   84.0000],
         [2994.5200, 1295.1300,   74.6600,   86.8900],
         [ 690.5200, 2230.1699,   84.2700,   97.2000],
         [  64.9800, 1817.8500,   83.0400,   99.6100],
         [2946.3401, 1256.0900,   74.8600,   84.6000],
         [1236.6600, 1531.8300,   83.1300,   94.6200],
         [ 593.4000, 1509.0500,   82.4700,   90.6800],
         [ 725.2400, 2235.6201,   75.7000,   89.0400],
         [2549.4800, 1507.9399,   76.6300,   92.3300],
         [  68.9600,  378.9400,   86.4500,   98.4900],
         [ 702.9600,  497.2400,   82.4200,   99.8800],
         [3029.2100, 1686.7400,   77.5700,   94.3700],
         [1705.5500, 2498.0300,   75.7500,   85.8000],
         [2687.9900, 1489.8000,   79.2000,   96.9400],
         [3017.5000, 1175.6000,   76.4300,   95.4400],
         [1644.5900, 2641.0200,   80.1500,   99.7600],
         [2838.3601, 1348.7300,   82.2400,   96.4100],
         [  14.8000, 1933.0800,   77.6400,   98.6400],
         [ 736.6500, 2245.0400,   76.3000,   91.9500],
         [ 734.8300, 2327.7900,   86.9500,  102.2700],
         [3051.6499, 1297.3500,   71.3900,   83.0500],
         [2970.6499,  835.6700,   72.0900,   95.6600],
         [1324.2300,  530.0200,   76.7300,   90.0700],
         [1677.5100, 2521.2100,   84.7700,   92.2300],
         [3004.8000, 1298.4800,   77.2500,   95.3700],
         [2969.5701,  850.3000,   71.5500,   90.3400],
         [1704.4900,  312.0900,   78.7200,   84.9900],
         [1656.8101, 1266.6700,   79.9800,   98.5100],
         [1247.4500, 1533.0699,   72.9900,   86.2900],
         [ 761.1300, 2317.4199,   78.1900,   93.8000],
         [ 596.8800, 1165.2700,   75.5900,   86.1500],
         [ 904.9600, 1917.7500,   80.5500,   86.7100],
         [3000.8401,  799.9900,   73.0900,   90.4300],
         [ 276.9900, 1997.6300,   83.4400,   96.6600],
         [1240.0100, 2095.8601,   77.2200,   89.3500],
         [1066.8900, 2015.9301,   83.6400,   98.5000],
         [  70.6200, 1830.7200,   80.1300,   96.8400],
         [1250.2600, 2102.4500,   76.5900,   90.7800],
         [1197.3300, 2593.6201,   78.6400,   89.5000],
         [2932.6499,  680.5400,   76.8400,   87.1200],
         [1642.3400, 1272.0000,   79.3600,   97.6800],
         [   3.4400, 1364.0500,   64.1500,  104.5900],
         [1149.4100, 1040.7600,   70.0700,   90.2200],
         [3016.6799,  789.9500,   69.6000,   80.7800],
         [3184.2800, 1536.1801,   78.3500,  102.9500],
         [1104.8800,  548.1300,   83.0200,   96.6200],
         [1671.3700, 1267.4000,   73.6200,   86.3900],
         [1011.1400, 2512.0500,   79.0400,   97.4600],
         [1630.3101,  438.2800,   79.1800,   91.9900],
         [1169.3700, 1611.9301,   82.2400,   94.5200],
         [2554.6201, 1518.4000,   76.6200,   83.6100],
         [1261.1300, 1527.8000,   73.4200,   90.6300],
         [1249.0500, 2101.1201,   70.2300,   80.7200],
         [2511.7100, 2835.3000,   79.8400,   92.4300],
         [3187.4099,   15.0700,   83.9700,   87.5000],
         [2105.4900,   18.3700,   79.2800,   88.6900],
         [ 259.5700, 1987.3400,   82.4900,   92.6700],
         [1971.6899, 2498.1399,   77.3900,   88.9400],
         [1205.1200, 1612.4399,   84.8000,   92.4500],
         [1234.3300,  155.8300,   69.5900,   88.9600],
         [3087.2900, 2064.8501,   82.7500,   97.9500],
         [ 966.9500,  210.9500,   74.5200,   91.4800],
         [2728.1699, 1040.4200,   74.1800,   84.4800],
         [2962.8000, 2556.4299,   78.3700,   94.4100],
         [2436.6101, 1247.0699,   86.6700,  107.1600],
         [1507.5601, 1138.4600,   81.0300,   97.4200],
         [3222.7000, 1584.7100,   73.4300,   86.0300],
         [3060.0200, 1140.1200,   74.6900,   88.1700],
         [1320.9700,  518.5200,   77.6700,   93.8300],
         [3110.0200, 2070.2400,   79.1900,   87.5400],
         [ 227.1900, 1996.2000,   77.0200,   80.2700],
         [1664.1200, 1073.2500,  100.4100,  103.8500],
         [ 950.6000,  212.9500,   94.2400,  109.9200],
         [3130.5000, 2079.3601,   70.7100,   84.4900],
         [3238.2400,   25.6900,   80.6700,   86.2600],
         [1225.6000, 1535.0400,   84.3800,   87.5300],
         [2941.5000,  682.2900,   70.8600,   79.9900]], device='cuda:0'),
 'scores': tensor([0.7280, 0.5220, 0.4730, 0.4640, 0.4340, 0.4310, 0.3970, 0.3320, 0.3310,
         0.3050, 0.2950, 0.2880, 0.2830, 0.2740, 0.2720, 0.2610, 0.2600, 0.2580,
         0.2570, 0.2570, 0.2520, 0.2470, 0.2450, 0.2360, 0.2350, 0.2280, 0.2180,
         0.2160, 0.2150, 0.2070, 0.2070, 0.2050, 0.2050, 0.2040, 0.2040, 0.2000,
         0.2000, 0.1950, 0.1950, 0.1900, 0.1880, 0.1880, 0.1870, 0.1860, 0.1840,
         0.1840, 0.1830, 0.1820, 0.1820, 0.1780, 0.1710, 0.1660, 0.1620, 0.1620,
         0.1610, 0.1610, 0.1600, 0.1570, 0.1560, 0.1560, 0.1540, 0.1530, 0.1460,
         0.1430, 0.1430, 0.1420, 0.1420, 0.1420, 0.1410, 0.1390, 0.1370, 0.1360,
         0.1340, 0.1330, 0.1320, 0.1310, 0.1310, 0.1310, 0.1300, 0.1290, 0.1290,
         0.1280, 0.1280, 0.1280, 0.1280, 0.1260, 0.1230, 0.1230, 0.1230, 0.1230],
        device='cuda:0'),
 'labels': tensor([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], device='cuda:0',
        dtype=torch.int32)}

In [ ]:
expected[0]

{'boxes': tensor([[1744.,  925.,   79.,  116.],
         [2278.,  904.,  116.,  116.],
         [3060., 1141.,  100.,   95.],
         [1881., 1913.,   95.,  106.],
         [1702., 2489.,   85.,   90.],
         [2674., 1501.,  100.,   85.],
         [3023., 1675.,  106.,  111.],
         [2848., 1353.,   90.,  106.],
         [ 470., 1765.,  116.,  122.],
         [2943., 1226.,   95.,  106.],
         [2933.,  671.,   95.,   85.],
         [1311.,  534.,   90.,  100.],
         [ 254., 2003.,  100.,  111.],
         [ 941.,  206.,   90.,  106.],
         [2949., 1041.,   90.,  106.],
         [1649., 2669.,   90.,   95.],
         [ 460.,  523.,   90.,   85.],
         [ 925.,  988.,  169.,  206.],
         [1887., 1395.,   95.,   90.],
         [3012.,  772.,  106.,  100.],
         [2743., 1046.,   74.,   85.]], device='cuda:0'),
 'scores': tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1.], device='cuda:0'),
 'labels': tensor([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        device='cuda:0', dtype=torch.int32)}

In [19]:
from torchmetrics.detection import MeanAveragePrecision

metric = MeanAveragePrecision(iou_type="bbox", box_format="xywh", class_metrics=True, extended_summary=False, average="macro")


metric.update(preds=predictions, target=expected)

from pprint import pprint
pprint(metric.compute())

{'classes': tensor([0, 1, 2], dtype=torch.int32),
 'map': tensor(0.0520),
 'map_50': tensor(0.1777),
 'map_75': tensor(0.0130),
 'map_large': tensor(0.1180),
 'map_medium': tensor(0.0882),
 'map_per_class': tensor([0.0472, 0.1088, 0.0000]),
 'map_small': tensor(0.0103),
 'mar_1': tensor(0.0310),
 'mar_10': tensor(0.1377),
 'mar_100': tensor(0.1754),
 'mar_100_per_class': tensor([0.1956, 0.3305, 0.0000]),
 'mar_large': tensor(0.3613),
 'mar_medium': tensor(0.2290),
 'mar_small': tensor(0.0859)}

In [20]:
expected[128]

{'boxes': tensor([[1277.,  127.,   85.,   70.],
         [1583.,  878.,   62.,   61.],
         [ 755.,  815.,   59.,   64.],
         [ 929.,  165.,   38.,   34.],
         [ 864.,  375.,   96.,   79.],
         [1430.,   66.,   26.,   25.],
         [ 473.,  513.,   32.,   38.],
         [1110.,  131.,   28.,   28.],
         [ 908.,  291.,   64.,   59.],
         [1394.,  600.,   28.,   26.],
         [1226.,  269.,   32.,   34.],
         [1432.,  110.,   30.,   32.],
         [ 653.,  815.,   30.,   32.],
         [1131.,  161.,   62.,   81.]], device='cuda:0'),
 'scores': tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
        device='cuda:0'),
 'labels': tensor([1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1], device='cuda:0',
        dtype=torch.int32)}

In [ ]:
predictions[128]

{'boxes': tensor([[ 755.6900,  797.6800,   59.9800,   61.4000],
         [1581.4500,  858.6600,   57.6100,   56.0900],
         [ 912.1600,  285.3500,   59.6700,   55.9700],
         [1279.9800,  131.9200,   81.8900,   63.6500],
         [ 862.1300,  984.0800,   30.6100,   31.6300],
         [ 761.8100,  298.5600,   35.2600,   31.2000],
         [ 710.3000,  302.0900,   31.9100,   29.8700],
         [ 629.2100,  410.2700,   34.2000,   34.3000],
         [ 858.2400,  364.3400,   84.7000,   76.4100],
         [ 689.8100,  628.0900,   57.1800,   49.2600],
         [ 763.3500,  304.9200,   32.4700,   29.9900],
         [1392.6500,  587.8800,   30.1000,   28.3800],
         [1129.4100,  170.8800,   58.2000,   68.4300],
         [ 738.9700,  141.0600,   61.3800,   57.1100],
         [ 655.7400,  797.8900,   31.6300,   30.6600],
         [1108.7600,  128.8600,   31.9600,   29.9600],
         [1222.3000,  266.1300,   30.7700,   29.1900],
         [1166.5100,  587.1800,   75.3800,   60.8300],
         [1058.3500,  733.9200,   60.7200,   51.5800],
         [1086.1000,  824.0200,   32.4300,   30.7100],
         [1214.4100,  675.0600,   31.2500,   29.3400],
         [1048.4800,  656.6300,   32.0600,   30.0300],
         [ 472.0000,  506.6600,   31.1800,   31.1200],
         [1515.9900,  397.5900,   29.5800,   25.9900],
         [ 985.5800,  556.2600,   36.7600,   36.8000],
         [1427.0300,   69.5600,   30.8600,   27.6800],
         [ 992.1800,  473.3300,   33.6900,   31.2700],
         [1080.4200,  824.7500,   33.8000,   31.8900],
         [ 749.6600,  301.6600,   33.0600,   31.3800],
         [ 976.6000,  644.9000,   31.0800,   30.7500],
         [1490.6400,  938.4700,   30.9900,   28.4700],
         [ 758.4700,  255.6000,   43.7500,   34.7600],
         [ 201.7300,  272.7200,   32.0200,   31.2300],
         [1299.3300,  282.7600,   33.4800,   31.1600],
         [1440.1700,  547.7000,   37.4400,   37.4600],
         [1083.1700,  833.3400,   32.9700,   30.7700],
         [ 989.6200,  574.6400,   34.2900,   32.6300],
         [ 963.0800,  965.7800,   30.0600,   27.6000],
         [1091.1500,  818.0900,   30.9600,   29.3400],
         [ 913.4700,  368.3900,   37.9600,   35.2000],
         [1078.5100,  763.2500,   41.9600,   34.6700],
         [ 992.6500,  561.4700,   31.4000,   31.6600],
         [1074.3900,  733.6200,   44.6300,   42.5300],
         [1220.8500,  267.0700,   29.3100,   26.7900],
         [1428.9700,  637.9400,   31.9000,   28.0900],
         [1440.1300,  638.1700,   31.2200,   27.1900],
         [ 762.9800,  830.5600,   49.1400,   39.0600],
         [ 983.3600,  644.0100,   30.2900,   29.7700],
         [ 748.7900,  398.5900,   31.9000,   28.6200],
         [ 166.3400,  573.8600,   43.1100,   39.7000],
         [1440.7700,  557.4300,   34.9600,   30.8600],
         [ 269.9800,  530.8600,   27.9300,   25.2700],
         [ 891.6600,  360.6600,   52.5700,   40.6500],
         [1545.0200,  103.3800,   31.5600,   29.4600],
         [ 745.0100,  400.6400,   34.6400,   28.5800],
         [1561.3600,  563.9600,   30.4200,   27.6300],
         [ 931.1900,  162.5700,   29.2700,   24.7400],
         [1729.0200,  548.3300,   34.5700,   31.7200],
         [ 753.2300,  261.5000,   46.1900,   34.4600],
         [1142.2700,  897.2300,   29.9500,   28.8200],
         [ 370.6000,  536.8000,   28.8100,   27.4200],
         [ 207.4900,  273.4600,   28.8000,   27.3900],
         [1446.8400,  545.3700,   32.6000,   28.0500],
         [1442.5601,  543.9400,   32.0800,   27.7200],
         [ 872.8600,  608.5800,   31.4600,   28.3500],
         [ 852.3700,  955.8900,   44.2200,   38.3000],
         [ 781.2300,  524.0900,   36.1900,   37.6400],
         [1632.1200,  713.8400,   34.3900,   31.6200],
         [1424.5000,  100.3400,   30.5400,   26.8300],
         [1141.7200,  449.8900,   28.6200,   26.4300],
         [ 651.4000,  798.9500,   30.3900,   27.5100],
         [ 884.8600,  365.7900,   56.7100,   47.3000]], device='cuda:0'),
 'scores': tensor([0.6170, 0.5210, 0.5010, 0.4510, 0.4420, 0.4310, 0.3970, 0.3350, 0.3230,
         0.3120, 0.2880, 0.2800, 0.2760, 0.2450, 0.2370, 0.2260, 0.2250, 0.2170,
         0.2130, 0.2110, 0.2080, 0.2030, 0.1970, 0.1920, 0.1900, 0.1870, 0.1830,
         0.1830, 0.1820, 0.1790, 0.1760, 0.1750, 0.1730, 0.1680, 0.1670, 0.1660,
         0.1630, 0.1630, 0.1620, 0.1600, 0.1530, 0.1530, 0.1490, 0.1470, 0.1470,
         0.1460, 0.1450, 0.1420, 0.1400, 0.1360, 0.1350, 0.1290, 0.1270, 0.1220,
         0.1210, 0.1210, 0.1200, 0.1180, 0.1170, 0.1140, 0.1120, 0.1110, 0.1110,
         0.1090, 0.1080, 0.1080, 0.1070, 0.1060, 0.1060, 0.1050, 0.1050, 0.1010],
        device='cuda:0'),
 'labels': tensor([1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
         0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
        device='cuda:0', dtype=torch.int32)}

In [22]:
from tqdm import tqdm

thrs = np.linspace(0.05, .95, num=15)
best_score = 0
best_thr = 0

for thr in tqdm(thrs):
	metric = MeanAveragePrecision(iou_type="bbox", box_format="xywh", class_metrics=True, extended_summary=False)
	predictions = [
		get_format_pred(i, data, thr) for i in image_files
	]
	expected = [
		get_format_pred(i, valid_data, thr) for i in image_files
	]
	metric.update(preds=predictions, target=expected)
	scores = metric.compute()
	if scores["map_50"] > best_score:
		best_score = scores["map_50"]
		best_thr = thr
		print(best_thr, best_score)

  7%|▋         | 1/15 [00:07<01:47,  7.66s/it]

0.05 tensor(0.1777)

 67%|██████▋   | 10/15 [00:36<00:12,  2.59s/it]

In [23]:
print(best_thr, best_score)

0.05 tensor(0.3330)

In [24]:
thrs

array([0.05      , 0.11428571, 0.17857143, 0.24285714, 0.30714286,
       0.37142857, 0.43571429, 0.5       , 0.56428571, 0.62857143,
       0.69285714, 0.75714286, 0.82142857, 0.88571429, 0.95      ])

In [25]:
thr = .0

metric = MeanAveragePrecision(iou_type="bbox", box_format="xywh", class_metrics=True, extended_summary=False)
predictions = [
    get_format_pred(i, data, thr) for i in image_files
]
expected = [
    get_format_pred(i, valid_data, thr) for i in image_files
]
metric.update(preds=predictions, target=expected)
scores = metric.compute()

In [26]:
scores

{'map': tensor(0.1256),
 'map_50': tensor(0.3346),
 'map_75': tensor(0.0666),
 'map_small': tensor(0.0238),
 'map_medium': tensor(0.1650),
 'map_large': tensor(0.2604),
 'mar_1': tensor(0.0450),
 'mar_10': tensor(0.1720),
 'mar_100': tensor(0.2083),
 'mar_small': tensor(0.0844),
 'mar_medium': tensor(0.2911),
 'mar_large': tensor(0.3808),
 'map_per_class': tensor([0.0568, 0.3200, 0.0000]),
 'mar_100_per_class': tensor([0.2023, 0.4226, 0.0000]),
 'classes': tensor([0, 1, 2], dtype=torch.int32)}